.root{
    -fx-padding: 20;
    -fx-background-color: white;
}

.label {
    -fx-text-fill: black;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

#today {
    -fx-text-fill: red;
}

.scroll-pane{
    -fx-background: #ddf5ee;
    -fx-border-color: #5F9EA0;
}

#dateHorsMois{
    -fx-text-fill: grey;
}

#mois{

}

#opaque {
    -fx-background-color: white;
}
.toggle-button{
    -fx-background-color: white;
}
.toggle-button:selected {
    -fx-background-color: gainsboro;
}